@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-light: #fed7aa;
  --color-primary: #f97316;
  --color-primary-dark: #c2410c;
  
  --color-secondary-light: #bfdbfe;
  --color-secondary: #3b82f6;
  --color-secondary-dark: #1d4ed8;

  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

@layer base {
  body {
    @apply text-gray-800 bg-slate-50 font-sans antialiased;
  }
  h1, h2, h3, h4 {
    @apply font-serif;
  }
}

